HELP.md
.gradle
.checkstyle
.allure/
.attach*
*.log
bin/
build/
target/
out/
docker/*.jar

!gradle/wrapper/gradle-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
/out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.mvn/

**/.DS_Store

